.container-fluid{
  background-color: #666666;
  }
  .square {
  /*border: 2px solid #000;*/
  /*height: 100px;*/
  /*width: 90px;*/
  transition: .4s;

  /*background-color: blue;*/
}

.circle {
  margin: 10% auto;
	width: 100px;
	height: 100px;
	background-color: blue;
  transition: .4s;
	-moz-border-radius: 50px;
	-webkit-border-radius: 50px;
	border-radius: 50px;
}
main {
  margin-top: 5%;
}
.insert {
  transition: .4s;
}
.display {
  text-align: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: rgba(0,0,0,.85);
  color: #fff;
  height: 0;
  width: 100%;
  overflow-x: hidden;
  transition: .5s;
}
strong {
  color: yellow;
}
.content{
  margin-top: 35%;
}
.content .btn {
  position: fixed;
}
area {
  background-color: blue;
}
.lit {
  background-color: #fc9;
  /*color: red;*/
}
